{% load org static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>{% org "name" %}</title>
    {% endblock title %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% org "description" %}" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon"
          href="{% org "favicon-url" %}"
          type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% org "apple-touch-icon-url" %}" />
    {% block fonts %}
    {% endblock fonts %}
    {# Styles #}
    <link rel="stylesheet" href='{% static "base/css/aos.css" %}' />
    <link rel="stylesheet" href='{% static "base/css/bootstrap-icons.css" %}' />
    {% block styles %}
    {% endblock styles %}
    {# Scripts #}
    <script defer src='{% static "base/js/aos.js" %}'></script>
    <script defer src='{% static "base/js/aos-init.js" %}'></script>
    {% block deferred_scripts %}
    {% endblock deferred_scripts %}
  </head>
  <body>
    {% include "base/preloader.html" %}
    {% include "base/scroll-top.html" %}
    {% include "base/header.html" %}
    {% include "base/hero.html" %}
    {% block main %}
    {% endblock main %}
    {% include "base/footer.html" %}
  </body>
</html>
