{% load static base_tags sass_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block meta %}
      <meta name="description"
            content="App built using {% pkg_display_name %} framework." />
      <meta name="keywords" content="" />
      <meta name="author" content="" />
    {% endblock meta %}

    {% block title %}
      <title>{% pkg_display_name %} App</title>
    {% endblock title %}

    {% block icons %}
      <link rel="shortcut icon"
            href="{% static 'base/favicon.ico' %}"
            type="image/x-icon" />
      <link rel="apple-touch-icon" href="{% static 'base/logo-180.png' %}" />
    {% endblock icons %}

    {% block fonts %}
    {% endblock fonts %}

    {% block vendor_aos %}
      <link rel="stylesheet" href='{% static "base/vendors/aos.css" %}' />
      <script defer src='{% static "base/vendors/aos.js" %}'></script>
      <script defer src='{% static "base/aos-init.js" %}'></script>
    {% endblock %}

    {% block vendor_bootstrap %}
      <link rel="stylesheet"
            href='{% static "base/vendors/bootstrap-icons.css" %}' />
      <link rel="stylesheet" href='{% sass_src "base/bootstrap.scss" %}' />
    {% endblock %}

    {% block styles %}
    {% endblock styles %}

    {% block deferred_scripts %}
    {% endblock deferred_scripts %}

  </head>
  <body>

    {% block main %}
    {% endblock main %}

  </body>
</html>
