{% extends "core/index.html" %}
{% load static %}
{% block meta %}
    <meta name="description"
          content='A simple "Work in Progress" page with an animated GIF display.' />
{% endblock meta %}
{% block icons %}
    <link rel="shortcut icon"
          href="{% static 'work_in_progress/favicon.ico' %}"
          type="image/x-icon" />
{% endblock icons %}
{% block title %}
    <title>Work In Progress</title>
{% endblock title %}
{% block vendor_aos %}
    {# disable #}
{% endblock vendor_aos %}
{% block vendor_bootstrap %}
    {# disable #}
{% endblock vendor_bootstrap %}
{% block styles %}
    <style nonce="{{csp_nonce}}">
        body {
            background-image: url("{% static 'work_in_progress/gif.webp' %}");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
{% endblock styles %}
